body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #333;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #00f;
}
